<nav class="bg-neutral p-4 flex justify-center flex-wrap text-white w-full font-bold">
  <ul class="flex gap-5">
    <%= link_to "Foods" %>
    <%= link_to "Recipes" %>
    <%= link_to "Public Recipes" %>
    <%= link_to "General shopping list" %>
  </ul>
</nav>
