<nav class="bg-neutral p-4 flex justify-center flex-wrap text-white w-full font-bold">
  <ul class="flex gap-7">
    <%= link_to "Foods", nil, class:"hover:text-sky-400" %>
    <%= link_to "Recipes", recipes_path, class:"hover:text-sky-400" %>
    <%= link_to "Public Recipes", nil, class:"hover:text-sky-400" %>
    <%= link_to "General shopping list", nil, class:"hover:text-sky-400" %>
  </ul>
</nav>
