<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @food %>

    <%= link_to 'Edit this food', edit_food_path(@food), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-gray-200" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this food', food_path(@food), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium hover:bg-gray-200" %>
    </div>
    <%= link_to 'Back to foods', foods_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-gray-200" %>
  </div>
</div>
